body {
    background-color: #141414;
    display: block;
    font-family: "Rubik","Arial",sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    line-height: 100%;
}

a {
    text-decoration: none;
    color:gray;
}

a:hover {
    border-bottom: 5px solid rgb(73, 163, 223);
    border-radius: 5px;
}

.site-header {
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1920px) and (min-width:901px) {
    .header-inside {
        padding-top:80px;
        padding-bottom: 80px;
    }

    .study-description {
        flex-basis: 60rem;
    }
}

@media screen and (max-width: 900px) {
    .header-inside {
        padding-top: 30px;
    }
}

.header-inside {
    display: flex;
    align-items: center;
}

.section, .header-inside, .site-bio-inner, .site-interest, .site-work-experience, .site-education {
    width:92%; 
    margin-left: auto;
    margin-right: auto;
}

.site-header-section-logo {
    flex-shrink: 0;
    color:white;
}

.site-logo {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: large;
    color: white;
}

.site-header-section-menu {
    margin-left: auto;
}

@media screen and (min-width: 901px) {
    /* .site-header-section-menu .toggle-menu {
        display:none;
    } */

    .openbtn {
        display: none;
    }
    .site-logo {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 671px) and (max-width: 900px) {
    .site-logo {
        font-size: 1.625rem;;
    }
}

@media screen and (max-width: 670px) {
    .site-logo {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    .header-menu {
        width: 100%;
        height: 100%;
        padding: 126px 4% 4%;
        display: none;
        position: fixed;
        top:0;
        left: 0;
        background: white;
    }
}

.header-menu .header-menu-inner {
    display: flex;
    color: white;
}

@media screen and (max-width: 900px) {
    .header-menu .header-menu-inner, .site-project-list, .experience-list, .education-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1920px) and (min-width:671px) {
    .header-menu-item:not(:last-child) {
        margin-right: 60px;
    }
}

@media screen and (max-width: 1920px) and (min-width:671px) {
    .header-menu-item {
        font-size: 1.375rem;
    }
    h1, .h1 {
        font-size: 3.875rem;
    }
}

.header-menu-item {
    list-style: none;
    color: gray;
}

@media screen and (max-width: 1920px) and (min-width:901px) {
    .site-bio {
        padding-top: 131px;
        
    }

    .interest-title, .project-title {
        padding-top: 50px;
        padding-bottom: 50px;
    }


}

.site-bio-inner {
    padding-top: 160px;
    padding-bottom: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-work-experience-inner, .site-education-inner {
    padding-top: 160px;
    padding-bottom: 160px;
}

@media screen and (min-width: 1025px) {
    .bio-photo-div {
        padding-right: 147px;
    }
}


.bio-photo-div-inner .site-photo{
    border-radius: 20%;
    box-shadow: 7px 7px gray;
}

.site-icon {
    padding-top: 20px;
    padding-left: 50px;
}

.bio-content-div {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;

}

.bio-content-title {
    color: white;
}

@media screen and (min-width: 671px) and (max-width: 1920px) {
    .bio-content-subtitle1 {
        margin-top: 35px;
    }
}
.bio-content-subtitle1, .bio-content-subtitle2 {
    color: gray;
    line-height: 140%;
    font-weight: 300;
}

@media screen and (max-width: 900px) {
    .site-bio-inner, .experience-list {
        flex-direction: column;
    }
    .bio-content-div, .job-description, .company-logo, .study-description, .univeristy-logo {
        padding-top: 25px;
    }

    .project-desc {
        padding-bottom: 40px;
    }
}

/* .interest-title {
    text-align: center;
    color: white;
}

.interest-logos {
    border: 5px solid gray;
    width: 80%;
    height: 100%;
    padding: 10px;
    margin-left: 0px;
    margin-right: 15px;
    background: black;
    text-align: center;
}


.interest-main {
    display: flex;
} */

.project-title-main {
    color: white;
    text-align: center;
}

.project-subtitle {
    padding-top: 20px;
}

.project-subtitle-main {
    color: gray;
    text-align: center;
}

.site-project-list {
    display: flex;
    padding-top: 80px;;
    justify-content: space-around;
    align-items: center;
}

.project-list {
    
    display:block;
    justify-content: center;
}

.project-img-box {
    border-top: 5px solid peru;
    align-items: center;
}

.project-images {
   padding-top: 20px;
   display: block;
    margin-left:auto;
    margin-right: auto;
}

.project-desc {
    padding-top: 20px;
    color:gray;
    text-align: center;
}

.experience-list {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    align-items: center;
}

.education-list {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    align-items: center;
}

.work-title-main, .education-title-main {
    color: white;
    text-align: center;
}

.company-logo, .university-logo {
    padding-right: 50px;
    padding-left: 20px;
}

.logo-img {
    border-radius: 50%
}

.job-description, .study-description {
    padding-right: 20px;
    color: gray;
    line-height: 1.5em;
    text-align: center;
}

.site-contact, .site-footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: white;
    padding-bottom: 40px;
    border-top: 5px solid peru;
}

.site-contact-main, .site-footer-main {
    padding-top : 15px;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background: black;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  @media screen and (max-height: 670px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
